.descriptionbox
{
    margin: 120px 170px;
}
.descriptionbox-navigator
{
    display: flex;
}
.descriptionbox-nav-box
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 50px;
    border: 1px solid #d0d0d0;
    border-radius: 20px;
}
.descriptionbox-nav-box-fade
{
    background: #fbfbfb;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 50px;
    border: 1px solid #d0d0d0;
    border-radius: 20px;
    margin-left: 200px;
}
.descriptionbox-description
{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 28px;
}
@media(max-width:1280px)
{
    .descriptionbox
    {
        margin: 60px;
    }
}
@media(max-width:800px)
{
    .descriptionbox
    {
        margin: 60px 20px;
    }
    .descriptionbox-description{
        font-size: 14px;
    }
}
@media(max-width:500px)
{
    .descriptionbox
    {
        margin: 20px 10px;
    }
    .descriptionbox-nav-box
    {
        width: 130px;
        height: 30px;
        border-radius: 10px;
        font-size: 12px;
    }
    .descriptionbox-nav-box-fade
    {
        width: 140px;
        height: 30px;
        border-radius: 10px;
        font-size: 12px;
    }
    .descriptionbox-description
    {
        padding: 20px;
    }
}