.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    padding: 0 100px;
    align-items: center;
    justify-content: space-between;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    line-height: 1.2;
}

.hero-left h2 {
    color: #090909;
    font-size: 52px;
    font-weight: 600;
}

.hero-left p {
    color: #171717;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 15px;
}

.hero-hand-icon p {
    font-size: 80px;
    font-weight: 700;
}
.hi p{
    font-size: 70px;
    font-weight: 700;
}

.hero-hand-icon img {
    width: 100px;
    height: auto;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 300px;
    height: 30px;
    padding: 15px 30px;
    border-radius: 75px;
    background: #ff4141;
    color: white;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}

.hero-latest-btn:hover {
    background-color: #e13333;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
}

.hero-right img {
    max-height: 100%;
    height: auto;
    max-width: 100%;
}
@media(max-width:1280px)
{
    .hero-left{
        padding-left: 100px;
    }
    .hero-left h2
    {
        font-size: 22px;
    }
    .hero-left p
    {
        font-size: 60px;
    }
    .hero-hand-icon img{
        width: 80px;
    }
    .hero-latest-btn
    {
        gap: 10px;
        width: 230px;
        height: 20px;
        font-size: 18px;
    }
    .hero-right img
    {
        width: 470px;
        height: 600px;
    }
}
@media(max-width:1024px)
{
    .hero-left{
        padding-left: 80px;
    }
    .hero-left h2
    {
        font-size: 20px;
    }
    .hero-left p
    {
        font-size: 40px;
    }
    .hero-hand-icon img{
        width: 65px;
    }
    .hero-latest-btn
    {
        width: 210px;
        height: 25px;
        font-size: 16px;
    }
    .hero-right img
    {
        width: 370px;
        height: 450px;
    }
}
@media(max-width:800px)
{
    .hero-left{
        padding-left: 30px;
    }
    .hero-left h2
    {
        font-size:16px;
    }
    .hero-left p
    {
        font-size: 38px;
    }
    .hero-hand-icon img
    {
        width: 50px;
    }
    .hero-latest-btn
    {
        width: 190px;
        height: 30px;
        font-size: 17px;
    }
    .hero-right img
    {
        width: 270px;
        height: 400px;
    }
}
@media (max-width: 768px) {
    .hero {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
    }
  
    .hero-left {
      flex: 0.6; /* Reduce space taken */
      padding-right: 10px;
    }
  
    .hero-right {
      flex: 0.4;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .hero-right img {
      width: 100%;
      max-width: 250px;
      height: auto;
    }
  
    .hero-left h2 {
      font-size: 19px;
    }
  
    .hero-left p {
      font-size: 29px;
    }
    .hero-latest-btn
    {
        width: 150px;
        height: 25px;
        font-size: 14px;
    }
  }
  
@media(max-width:500px)
{
    .hero{
        flex-direction: row;
        padding: 20px;
        align-items: center;
        justify-content: space-between;
        height: 630px;
    }
    .hero-left
    {
        flex: 0.8; /* make it take less space */
        padding-left: 10px;
    }
    .hero-right{
        display: flex;
        flex: 1.2; /* make image take more space */
    }
    .hero-left h2
    {
        font-size: 14px;
    }
    .hero-left p{
        font-size: 23px;
    }
    .hero-hand-icon img
    {
        width: 40px;
    }
    .hero-latest-btn
    {
        width: 120px;
        height: 15px;
        font-size: 11px;
    }
    .hero-latest-btn img
    {
        width: 15px;
    }
    .hero-right img 
    {
        width: 220px;
        height: 300px;
    }
}